/* Light mode styles */
.search-bar.light-mode {
    background-color: white;
    border-radius: 4px;
}

.search-bar.light-mode input {
    color: black;
}

.search-bar.light-mode .MuiInputLabel-root {
    color: grey;
}

.search-bar.light-mode .MuiOutlinedInput-root {
    border-color: rgba(0, 0, 0, 0.5);
}

.search-bar.light-mode .MuiOutlinedInput-root:hover fieldset {
    border-color: rgba(0, 0, 0, 0.7);
}

.search-bar.light-mode .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #000000;
}

/* Dark mode styles */
.search-bar.dark-mode {
    background-color: #121212;
    border-radius: 4px;
}

.search-bar.dark-mode input {
    color: white;
}

.search-bar.dark-mode .MuiInputLabel-root {
    color: white;
}

.search-bar.dark-mode .MuiOutlinedInput-root {
    border-color: #90caf9;
}

.search-bar.dark-mode .MuiOutlinedInput-root:hover fieldset {
    border-color: #ffffff;
}

.search-bar.dark-mode .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #90caf9;
}
