/* Light mode styles */
.search-bar.light-mode {
    background-color: white; /* Background color for light mode */
    border-radius: 4px;
}

.search-bar.light-mode input {
    color: black; /* Text color for light mode */
}

.search-bar.light-mode .MuiInputLabel-root {
    color: grey; /* Label color for light mode */
}

.search-bar.light-mode .MuiOutlinedInput-root {
    border-color: rgba(0, 0, 0, 0.5); /* Border color for light mode */
}

.search-bar.light-mode .MuiOutlinedInput-root:hover fieldset {
    border-color: rgba(0, 0, 0, 0.7); /* Border color on hover for light mode */
}

.search-bar.light-mode .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #000000; /* Border color when focused for light mode */
}

/* Dark mode styles */
.search-bar.dark-mode {
    background-color: #121212; /* Background color for dark mode */
    border-radius: 4px;
}

.search-bar.dark-mode input {
    color: white; /* Text color for dark mode */
}

.search-bar.dark-mode .MuiInputLabel-root {
    color: white; /* Label color for dark mode */
}

.search-bar.dark-mode .MuiOutlinedInput-root {
    border-color: #90caf9; /* Border color for dark mode */
}

.search-bar.dark-mode .MuiOutlinedInput-root:hover fieldset {
    border-color: #ffffff; /* Border color on hover in dark mode */
}

.search-bar.dark-mode .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #90caf9; /* Border color when focused in dark mode */
}
